include ../REUSED/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        logged: true,
        list: {
          myTickets: {
            active: true,
          },
        },
        inputHref: 'ticket-form.html',
      })
      main.page-content
        +tickets-list({
          titleHidden: 'Самые новые предложения',
          tickets: myTicketsListData,
          logged: true,
          js: true,
        })
