include ../REUSED/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        inputHref: 'sign-up.html'
      })
      main.page-content
        section.search-results
          h1.visually-hidden Результаты поиска
          .search-results__wrapper
            .search-results__message
              p
                | Не найдено
                br
                | ни одной публикации
        +tickets-list({
          title: 'Самое свежее',
          titleHidden: 'Самые новые предложения',
          tickets: newTicketsListData,
          showMoreItemsCount: 25,
        })
