include ../../common/mixins/index.pug

+layout(false)
  +html("html-not-found")
    +body("body-not-found")
      main
        section.error
          h1.error__title 404
          h2.error__subtitle Страница не найдена
          include ../../common/error.pug
