include ../../common/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        inputHref: 'sign-up.html'
      })
      main.page-content
        +tickets-list({
          tickets: searchResults,
          listType: 'search-results',
        })
        +tickets-list({
          title: 'Самое свежее',
          titleHidden: 'Самые новые предложения',
          tickets: newTicketsListData,
          showMoreItemsCount: 25,
        })
