include ../REUSED/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        inputHref: 'sign-up.html'
      })
      main.page-content
        +categories-list({
          titleHidden: 'Сервис объявлений "Куплю - продам"',
          categories: categoriesListData,
          anchorDefaultClassName: true
        })
        +tickets-list({
          title: 'Самое свежее',
          titleHidden: 'Самые новые предложения',
          tickets: newTicketsListData,
        })
        +tickets-list({
          title: 'Самые обсуждаемые',
          titleHidden: 'Самые обсуждаемые предложения',
          tickets: popularTicketsListData,
        })
