include ../../common/common.pug

+layout()
  +html()
    +body()
      +header({
        logged: true,
        currentUser,
        list: {
          comments: {
            active: true,
          },
        },
        inputHref: 'ticket-form.html',
      })
      main.page-content
        section.comments
          .comments__wrapper
            h1.visually-hidden Страница комментариев
            each commentsForTicket, ticketId in commentsDBData
              each ticketData in ticketsDBData
                if ticketData.color === ticketId
                  +comments-list(ticketData, commentsForTicket, usersDBData, true)
