include ../../common/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        logged: true,
        inputHref: 'ticket-form.html',
      })
      main.page-content
        +ticket-form({}, true)
