include ../../common/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        logged: true,
        currentUser,
        inputHref: 'ticket-form.html',
      })
      main.page-content
        +ticket({
          img: {
            src: 'img/ticket.jpg',
            srcset: 'img/ticket@2x.jpg 2x',
          },
          comments: {},
          logged: true,
        })
