include ../../common/common.pug

+layout()
  +html()
    +body()
      +header({
        inputHref: 'ticket-form.html'
      })
      main.page-content
        +ticket({
          logged: true,
        })
