include ../REUSED/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        logged: true,
        inputHref: 'ticket-form.html',
      })
      main.page-content
        +categories-list({
          titleHidden: 'Сервис объявлений "Куплю - продам"',
          categories: categoriesListData,
          activeIndex: 2,
        })
        +tickets-list({
          title: 'Электроника',
          titleHidden: 'Предложения из категории электроника',
          tickets: categoryTicketsListData,
          pagination: true,
          categoryTicketsCount: 62,
        })
