include ../../common/mixins/index.pug

+layout()
  +html()
    +body()
      +header({
        list: {
          myTickets: {
            href: '#',
          },
          comments: {
            href: '#',
          },
        },
        inputHref: 'sign-up.html',
      })
      main.page-content
        .message
          .message__text
            p На сайте еще не опубликовано ни одного объявления.
          a.message__link.btn.btn--big(href='#') Вход и регистрация
